# ignore everything
*

# But not these items
!.gitignore
!FruitFinder/
!Lab3/
!Lab4/
!Lab5/
!Lab6/
!Lab7
!SunsetDetector/

!FruitFinder/*
!Lab3/*
!Lab4/*
!Lab5/*
!Lab6/*
!Lab7/*
!Lab7/*/*
!SunsetDetector/*
!SunsetDetector/*/*
!SunsetDetector/*/*/*

Lab3/.DS_Store

*.m~
*.asv

Lab6/~$Lab6.doc
Lab6/~$teslm-mercieal-Lab6.docx
Lab7/~$Lab7.doc
Lab7/~$teslm-mercieal-Lab7.docx
