# ignore everything
*

# But not these items
!.gitignore
!FruitFinder/
!Lab3/
!Lab4/
!Lab5/
!Lab6/
!SunsetDetector/

!FruitFinder/*
!Lab3/*
!Lab4/*
!Lab5/*
!Lab6/*
!SunsetDetector/*
!SunsetDetector/*/*
!SunsetDetector/*/*/*

Lab3/.DS_Store
